<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div><a asp-controller="Cat" asp-action="Create">Create Cat</a></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
